<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hypersonalbooster">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HyperBooster"
        tools:targetApi="31">
        <activity
            android:name=".RegisterActivity_Particular"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity_0_Welcome"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity_1_Nickname"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity_2_Sex"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity_3_HeightWeight"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity_4_Inbody"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity_5_Target"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity_Particular"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".BoosterActivity"
            android:exported="false" />
        <activity
            android:name=".BoosterActivity_Before"
            android:exported="false" />
        <activity
            android:name=".BoosterActivity_After"
            android:exported="false" />
        <activity
            android:name=".KioskActivity"
            android:exported="false" />
    </application>

</manifest>